<form>
  <div class="form-group">
    {% for error in form.non_field_errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
  </div>
  <div class="form-group">
    <label for="name">{{ name.label }}</label>
    <input type="text" class="form-control" name="name" id="name" value="{{ author.name }}" placeholder="ФИО">
    {% for error in form.title.errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
  </div>
  <div class="form-group">
    <label for="birth_date">{{ birth_date.label }}</label>
    <input type="date" class="form-control" name="birth_date" id="birth_date" value="{{ author.birth_date|date:"d-m-Y"}}" placeholder="Дата рождения">
    {% for error in form.title.errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
  </div>
  <div class="form-group">
    <label for="death_date">{{ death_date.label }}</label>
    <input type="date" class="form-control" name="death_date" id="death_date" value="{{ author.death_date|date:"d-m-Y"}}" placeholder="Дата смерти">
    {% for error in form.title.errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
  </div>
  <div class="form-group">
    <label for="bio">{{ bio.label }}</label>
     <input type="text" class="form-control" name="bio" id="bio" value="{{ author.bio }}" placeholder="Биография">
    {% for error in form.text.errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
  </div>
  <div class="form-group">
    <label for="image">{{ image.label }}</label>
    <input type="file" class="form-control-file" name="image" id="image">
    {% for error in form.image.errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
  </div>
  <button type="submit" class="btn btn-primary mr-1">Отправить</button>
  <a class="btn btn-primary" href="{% url 'webapp:author_list' %}" role="button">Отмена</a>
</form>