{% extends 'base.html' %}

{% block title %}Удалить отзыв{% endblock %}

{% block content %}
    <h3 class="mt-3">Удаление отзыва</h3>
    <h5 class="mt-3">Вы уверены, что хотите удалить отзыв?</h5>
    <form action="{% url 'webapp:review_delete' review.pk %}" method="post">
        {% csrf_token %}
        <button type="submit mt-2" class="btn btn-primary">Удалить</button>
        <a class="btn btn-primary mt-2" href="{% url 'webapp:book_list' %}" role="button">Отмена</a>
    </form>
{% endblock %}