{% extends 'base.html' %}
{% block title %}Страница пользователя{% endblock %}
{% block content %}
    <div>
        <h3 class="card-title mt-3">Страница пользователя</h3>
        <p>Логин: {{ user }}</p>
        <p>Имя: {{ user.first_name }}</p>
        <p>Фамилия: {{ user.last_name }}</p>
        <p>Почта: {{ user.email }}</p>

        {% if user == request.user %}
            <a class="btn btn-primary mt-2" href="{% url 'webapp:user_update' request.user.pk %}" role="button">Редактировать</a>
        {% endif %}
    </div>
{% endblock %}